.container {
  border: 2px solid brown;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  place-content: end end;
  place-items: end end;
}

.box {
  background-color: yellowgreen;
  border: 1px solid slateblue;
  color: crimson;
}
